.git
.gitignore
.idea
.venv
venv
__pycache__
*.pyc
*.pyo

webapp/node_modules
webapp/backend/node_modules
webapp/dist
webapp/.vite
webapp/backend/.cache
webapp/backend/uploads
webapp/backend/*.sqlite
webapp/backend/*.sqlite3
webapp/backend/*.sqlite-wal
webapp/backend/*.sqlite-shm

data
mail_accounts.json
favorites.json

token.txt
password_mail.txt
required_chanel_link.txt
required_chaned_id.txt
finashkadzbot-d8415e20cc18.json

.env
.env.*
